<h1>Categories</h1>
<a th:href="@{/admin/categories/new}">New Category</a>

<table>
    <tr><th>Name</th><th>Slug</th><th>Actions</th></tr>

    <tr th:each="c : ${categories}">
        <td th:text="${c.name}"></td>
        <td th:text="${c.slug}"></td>
        <td>
            <a th:href="@{'/admin/categories/edit/' + ${c.id}}">Edit</a>
            <form th:action="@{'/admin/categories/delete/' + ${c.id}}" method="post">
                <button>Delete</button>
            </form>
        </td>
    </tr>
</table>
