<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<section class="admin-panel ns-animate-up">
    <div class="admin-actions">
        <h1>Posts</h1>
        <a th:href="@{/admin/posts/posts_form}" class="btn primary">New Post</a>
    </div>

    <table class="table">
        <thead>
        <tr><th>Title</th><th>Status</th><th>Actions</th></tr>
        </thead>
        <tbody>
        <tr th:each="p : ${posts}">
            <td th:text="${p.title}"></td>
            <td th:text="${p.status}"></td>
            <td>
                <a th:href="@{'/admin/posts/edit/' + ${p.id}}" class="btn small outline">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>

<div th:replace="fragments/footer :: footer"></div>
</html>
