<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/nocturne.css}">
    <title>Nocturne Soul</title>
</head>
<body>
<header class="site-header">
    <div class="brand">
        <a th:href="@{/}" class="logo">Nocturne <span class="soul">Soul</span></a>
    </div>

    <form class="search" th:action="@{/posts/search}" method="get">
        <input name="q" type="search" placeholder="Search the night..." th:value="${param.q}" />
        <button type="submit" class="btn">Search</button>
    </form>

    <nav class="main-nav">
        <a th:href="@{/}" class="nav-link">Home</a>
        <a th:href="@{/auth/login}" sec:authorize="!isAuthenticated()" class="nav-link">Login</a>
        <a th:href="@{/auth/register}" sec:authorize="!isAuthenticated()" class="nav-link">Register</a>

        <a th:href="@{/admin}" sec:authorize="hasRole('ADMIN')" class="nav-btn">Admin</a>

        <span sec:authorize="isAuthenticated()" class="nav-user">
       Hello, <strong sec:authentication="name">user</strong>
    <form th:action="@{/auth/logout}" method="post" style="display:inline">
        <button class="btn small" type="submit">Log out</button>
    </form></form>
    </span>
    </nav>
</header>
</body>
</html>
